@font-face { /* instal the font on the website */
    font-family: 'Acherusgrotesquefont';
    src: url('acherusgrotesque-regular.otf');
}

#banner_image
{
    display: inline-block;
    position: absolute;
    top: 0px;
    background-image: url("images/bannière_république.png");
    width: 100%;
    height: 50%;
    position: center;
    background-size: cover;
    z-index: 1;
}

#banner_title
{
    position: relative;
    text-align: left;
    top: 50%;
    left:7.4%;
    font-size: 1vw;
    display: inline-block;
    z-index: 2;

}

nav{
    display: inline-block;
    position: absolute;
    top: 50%;
    left:5%;
    font-size: 1vw;
}

section{
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 30%;
    right: 30%;
    text-align: justify;
    font-size: 1vw;
}


body { /* change the general color theme */
  font-family: "Acherus Grotesque", "Times New Roman", Arial, serif;
  color: white;
  background-color: black; /* complementary colors: #21201E, #59606E */
}



/*
 here it is dropleft menu
 */
ul{
    list-style: none;
}



.dropleft{
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.3s, opacity 0.3s linear, display 0s;
    position: absolute;
    left: 4em;
    top: 0em;
    width: 10em;
}

li.menu {
    position: relative;
}

li.menu:hover .dropleft{
    visibility: visible;
    opacity: 1;
    transition: opacity 0.3s linear;
}

/*
 here it is dropleft menu
 */



a{ /* change the links color and decoration */
    color: white;
    text-decoration: none;
}

footer{
    margin-left: 100px;
    vertical-align: top;
    text-align: center;
}

a:hover
{
    color: #C2331D;
}

a:focus /* When the visitor clicks the link */
{
    color: #F4364C;
}

.envoie{
    text-indent: 10%;
}

.reponse{
    text-indent: 50%;
}

.paragraph_break{
    text-indent: 50%;
}

.line_break::before{
    content: "\a";
    white-space: pre;
}


@media all and (max-width: 480px)
{
    #banner_image
    {
        display: inline-block;
        position: absolute;
        top: 0px;
        background-image: url("images/bannière_république.png");
        width: 100%;
        height: 20%;
        position: center;
        background-size: cover;
        z-index: 1;
    }
    
    #banner_title
    {
        position: relative;
        text-align: left;
        top: 10%;
        left:7.4%;
        font-size: 2vw;
        display: inline-block;
        z-index: 2;

    }
    
    nav{
        position: absolute;
        top: 18%;
        right: 0%;
        font-size: 3.8vw;
    }
    
    nav li
    {
        display: inline-block;
        margin-right: 5px;
    }
    
    section{
        display: inline-block;
        position: absolute;
        top: 35%;
        left: 8%;
        right: 5%;
        text-align: justify;
        font-size: 4vw;
    }
    
    .dropleft{
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s 0.3s, opacity 0.3s linear, display 0s;
        left: 0em;
        top: 1.5em;
    }
    
    ul .dropleft{
        background-color: black;
        z-index: 1;
        border-width: 0.2em;
        border: solid;
        border-width: 2px;
        border-color: #21201E;
        padding-right: 0.2em;
        padding-left: 0.3em;
    }

    li.menu:hover .dropleft{
        visibility: visible;
        opacity: 1;
        transition: opacity 0.3s linear;
    }

    
}

