@font-face { /* instal the font on the website */
    font-family: 'Acherusgrotesquefont';
    src: url('acherusgrotesque-regular.otf');
}

#banner_image
{
    display: inline-block;
    position: absolute;
    top: 0px;
    background-image: url("images/bannière_république.png");
    width: 100%;
    height: 50%;
    position: center;
    background-size: cover;
    z-index: 1;
}

#banner_title
{
    position: relative;
    text-align: left;
    top: 50%;
    left:7.4%;
    font-size: 1vw;
    display: inline-block;
    z-index: 2;

}

nav{
    display: inline-block;
    position: absolute;
    top: 50%;
    left:5%;
    font-size: 1vw;
}

ul{
    list-style: none;
}



section{
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 30%;
    right: 30%;
    text-align: justify;
    font-size: 1vw;
}

h1, h2{
    text-align: center;
}

body { /* change the general color theme */
  font-family: "Acherus Grotesque", "Times New Roman", Arial, serif;
  color: white;
  background-color: black; /* complementary colors: #21201E, #59606E */
}

a{ /* change the links color and decoration */
    color: white;
    text-decoration: none;
}

footer{
    margin-left: 100px;
    vertical-align: top;
    text-align: center;
}

a:hover
{
    color: #C2331D;
  /*font-size: 1.3em; I need to make it so this doesn't move the whole line */
}

a:focus /* When the visitor clicks the link */
{
    color: #F4364C;
}

.dropdown{
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s;
}


.menu:hover .dropdown{
    opacity: 1;
    visibility: visible;
}


.envoie{
    text-indent: 10%;
}

.reponse{
    text-indent: 50%;
}

.paragraph_break{
    text-indent: 50%;
}

.line_break::before{
    content: "\a";
    white-space: pre;
}


@media all and (max-width: 480px)
{
    #banner_image
    {
        display: inline-block;
        position: absolute;
        top: 0px;
        background-image: url("images/bannière_république.png");
        width: 100%;
        height: 20%;
        position: center;
        background-size: cover;
        z-index: 1;
    }
    
    #banner_title
    {
        position: relative;
        text-align: left;
        top: 10%;
        left:7.4%;
        font-size: 2vw;
        display: inline-block;
        z-index: 2;

    }
    
    nav{
        position: absolute;
        top: 18%;
        right: 0%;
        font-size: 3.8vw;
    }
    
    nav li
    {
        display: inline-block;
        margin-right: 5px;
    }
    
    section{
        display: inline-block;
        position: absolute;
        top: 30%;
        left: 8%;
        right: 5%;
        text-align: justify;
        font-size: 4vw;
    }
}
